# Core Frameworks
langchain
langchain-community
langgraph
langchain-groq

# API & HTTP
requests
httpx
python-dotenv
lxml_html_clean

# Web Framework
flask
flask-cors

# Data Handling & Validation
pydantic

# News & Web Scraping
newspaper3k
serpapi
google-search-results

# PDF Generation
reportlab

# Backend API
fastapi
uvicorn
python-multipart

# Google Drive
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Google Calendar
google-auth
tzlocal